@using System.Globalization
@using CustomERP.Web.ViewModels.Administration.Accounts
@model CustomERP.Web.ViewModels.Administration.Accounts.IndexViewModel
@{
    this.ViewData["Title"] = "Admin page";
    var tableHeadData = new IndexEmployeeViewModel();
}

    <a class="btn btn-info border-dark" asp-area="Administration" asp-controller="Accounts" asp-action="RegisterEmployee" title="Register New Employee">
        <i class="fas fa-user"></i>
        <i class="fas fa-plus"></i>
    </a>
<hr />
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th><label asp-for="@tableHeadData.FullName"></label></th>
                <th><label asp-for="@tableHeadData.Position"></label></th>
                <th><label asp-for="@tableHeadData.ShiftName"></label></th>
                <th><label asp-for="@tableHeadData.SectionName"></label></th>
                <th><label asp-for="@tableHeadData.CompanyName"></label></th>
                <th><label asp-for="@tableHeadData.ApplicationUserManagerFullName"></label></th>
                <th><label asp-for="@tableHeadData.CreatedOn"></label></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Users == null)
            {
                <tr><td class="text-center" colspan="6"><h4>No records found !</h4></td></tr>
            }
            else
            {
                foreach (var user in Model.Users)
                {
                    <tr>
                        <td>
                            <a class="nav-link" style="text-decoration: none" title="Details" asp-action="Details" asp-route-id="@user.Id">@user.FullName</a>
                        </td>
                        <td>@user.Position</td>
                        <td>@user.ShiftName</td>
                        <td>@user.SectionName</td>
                        <td>@user.CompanyName</td>
                        <td>@user.ApplicationUserManagerFullName</td>
                        <td>@user.CreatedOn.ToString("D", CultureInfo.CurrentCulture)</td>
                        <td>
                            <button class="btn btn-success"><i class="fas fa-check"></i></button>
                            <button class="btn btn-primary" title="Edit"><i class="fas fa-user-edit"></i></button>
                            <button class="btn btn-danger" title="Remove"><i class="fas fa-trash-alt "></i></button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

