@using CustomERP.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-superhero.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-superhero.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" onclick="menuToggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Settings" asp-action="Index" title="settings">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="mySidepanel" class="sidepanel">
        <ul id="sidebar">
            <li class="nav-item">
                <a id="menu-toggle">
                    <i class="fas fa-angle-double-right glyphicon-to-right" id="angle-double-right"></i>
                    <i class="fas fa-angle-double-left glyphicon-to-left invisible" id="angle_double_left"></i>
                    @*fas fa-angle-double-right*@
                </a>
            </li>
            <li class="nav-item" onmouseover="openNav()">
                <a class="bg-dark text-left" style="text-align: left" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Employees">
                    Dashboard<i class="fas fa-tachometer-alt glyphicon-to-right"></i>
                </a>
            </li>
            <li class="nav-item" onmouseover="openNav()">
                <a class="bg-dark" @*asp-area="" asp-controller="" asp-action="*@>
                    Factory<i class="fas fa-industry glyphicon-to-right"></i>
                </a>
            </li>
            <li class="nav-item" onmouseover="openNav()">
                <a class="bg-dark" @*asp-area="" asp-controller="" asp-action="" *@>
                    Warehouse<i class="fas fa-warehouse glyphicon-to-right"></i>
                </a>
            </li>
            <li class=" nav-item" onmouseover="openNav()">
                <a class="bg-dark" @*asp-area="" asp-controller="" asp-action="" *@>
                    <i class="fas fa-tools glyphicon-to-right"></i>Technical Support
                </a>
            </li>
            <li class="nav-item" onmouseover="openNav()">
                <a class="bg-dark" @*asp-area="" asp-controller="" asp-action="" *@>
                    <i class="fas fa-flask glyphicon-to-right"></i>Recipes
                </a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3 pl-5">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
