@model CustomERP.Web.ViewModels.Administration.Register.UserInputViewModel
@{
    this.ViewData["Title"] = "Register New User";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUser" method="post">
            <h4>Add a new user.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.FullName"></label>
                <input asp-for="@Model.FullName" class="form-control" />
                <span asp-validation-for="@Model.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Position"></label>
                <input asp-for="@Model.Position" class="form-control" />
                <span asp-validation-for="@Model.Position" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
